ion-content {
  font-size: 16px;
  line-height: 1.5em;

  &::part(scroll) {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }
}

.intro {
  text-align: center;
  margin-top: 32px;
}

.steps {
  text-align: left;
  margin: 16px 0;
  padding-inline-start: 24px;

  li:not(:last-child) {
    margin-bottom: 4px;
  }
}

.start-button {
  margin: 16px 0;
}

pre {
  flex: 1;
  margin-top: 16px;
  height: 50vh;
  max-height: 50vh;
}
