<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Decryption Issue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="intro">
    Follow theses steps to reproduce the issue where <code>IllegalBlockSizeException</code> is thrown during decryption.
  </p>

  <ol class="steps">
    <li>Click "Decrypt/Encrypt Data" button</li>
    <li>The app will successfully decrypt the value from the vault and encrypt the data</li>
    <li>Kill the app and restart it on the phone <b>(do not use Android Studio’s Run command for this restart)</b></li>
    <li>Click "Decrypt/Encrypt Data" button again</li>
    <li>On the first decryption, you should see the <code>IllegalBlockSizeException</code> error</li>
    <li>Kill the app and retry; the error will persist</li>
  </ol>

  <ion-button
    class="start-button"
    [disabled]="isProcessing"
    (click)="startProcess()"
  >
    Decrypt/Encrypt Data
  </ion-button>

  <pre class="scroll-snap"><code>{{ log }}</code></pre>
</ion-content>
