<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Decryption Issue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="intro">
    Follow theses steps to reproduce the issue where <code>IllegalBlockSizeException</code> is thrown during decryption.
  </p>

  <ol class="steps">
    <li>Click "Encrypt/Decrypt Data" button</li>
    <li>The app will successfully encrypt and decrypt the data</li>
    <li>Kill the app and restart it on the phone <b>(not using run in Android Studio)</b></li>
    <li>Click "Encrypt/Decrypt Data" button</li>
    <li>On the first decryption, you should see <code>IllegalBlockSizeException</code> error</li>
  </ol>

  <ion-button
    class="start-button"
    [disabled]="isProcessing"
    (click)="startProcess()"
  >
    Encrypt/Decrypt Data
  </ion-button>

  <pre class="scroll-snap"><code>{{ log }}</code></pre>
</ion-content>
